
a:link, a:visited {
  color: black;
  border: 2px solid green;
  text-align: center;
}

a:hover {
    font-size: 20px;
}





.lu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  background-color: yellow;

}

.il {
  float: left;
}

.il {
  display: block;
  color: #1e00ff;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.il a:hover:not(.active) {
  background-color:paleturquoise;
}



html, body {
  height: 100%;
  width: 100%;

}




.background{
background: rgba(0, 128, 320, 0.3);
  opacity: 0.9;
}


.background2{
background: rgba(117, 128, 320, 454);

}











.font1 {
  font-family: sans-serif;
text-decoration-line: underline; 
    text-shadow: 2px 2px;
  text-align: center;
  font-size: 50px;
}

.fontli {
    text-align: center;
  font-size: 50px;
}

.font11 {
  font-family: "Sofia", sans-serif;
    text-transform: uppercase;
}


.font22 {
   font-family: "Trirong", serif;
  font-size: 45px;
}



.font33 {
   font-family: 'Arbutus';
  font-size: 48px;
}

.font44 {
   font-family: 'Athiti';
}


.font55 {
    font-family: 'BhuTuka Expanded One';
  letter-spacing: -2px;

}


.fontsmall {
  font-size: 20px;
    font-family: 'Cedarville Cursive';
}





.fontsmall2 {
  font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
}























