
html, body {
  height: 100%;
  width: 100%;

}




.background{
background: rgba(0, 128, 320, 0.3);
  opacity: 0.9;
}


.background2{
background: rgba(117, 128, 320, 454);

}











.font1 {
  font-family: sans-serif;
text-decoration-line: underline; 
    text-shadow: 2px 2px;
  text-align: center;
  font-size: 50px;
}

.fontli {
    text-align: center;
  font-size: 50px;
}

.font11 {
  font-family: "Sofia", sans-serif;
    text-transform: uppercase;
}


.font22 {
   font-family: "Trirong", serif;
  font-size: 45px;
}



.font33 {
   font-family: 'Arbutus';
  font-size: 48px;
}

.font44 {
   font-family: 'Athiti';
}


.font55 {
    font-family: 'BhuTuka Expanded One';
  letter-spacing: -2px;

}


.fontsmall {
  font-size: 20px;
    font-family: 'Cedarville Cursive';
}





.fontsmall2 {
  font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
}


a:hover {
  background-color: rebeccapurple;
  color: yellow;


<span style="cursor: pointer">pointer</span><br>

  a:hover {
    font-family: 'Cedarville Cursive';
  }